@import "tailwindcss";

body {
	background-color: var(--color-brand-primary);
}

@font-face {
	font-family: "Growland Black";
	src: url("/fonts/Growland Black.otf");
}

@font-face {
	font-family: "Growland Black";
	src: url("/fonts/Growland Bold.otf");
}

@theme {
	/* font families */
	--font-growland-black: "Growland Black", sans-serif;
	--font-growland-bold: "Growland Bold", sans-serif;

	/* colors */
	--color-brand-primary: #134e4a;
	--color-brand-secondary: #0d2d2a;
	--color-brand-accent: #f97316;
	--color-brand-accent-hover: #e16e1c;
	--color-brand-accent-secondary: #facc15;
	--color-brand-muted: #00cfa2;
	--color-brand-dark: #081826;
}

@utility flex-center {
	@apply flex items-center;
}

@utility input-container {
	@apply flex w-full flex-col;
}

@utility label {
	@apply mb-4 self-start font-medium;
}

@utility errorElement {
	@apply mt-2 self-start font-medium text-red-300;
}
