@import "tailwindcss";

body {
	background-color: #134e4a;
}

@font-face {
	font-family: "Growland Black";
	src: url("/fonts/Growland Black.otf");
}

@font-face {
	font-family: "Growland Black";
	src: url("/fonts/Growland Bold.otf");
}

@theme {
  --font-growland-black: "Growland Black", sans-serif;
  --font-growland-bold: "Growland Bold", sans-serif;

  /* 
    Register css variables here and use it globally
    example: --color-primary: #00cfa2;
    this enables you to use utility classes like
    bg-primary
    text-primary
    border-primary
    shadow-primary

    without having to write bg-[#00cfa2] or text-[#00cfa2] all the time
  */
}

@utility flex-center {
  @apply flex items-center;
}

@utility input-container {
  @apply flex w-full flex-col;
}

@utility label {
  @apply mb-4 self-start font-medium;
}

@utility errorElement {
  @apply mt-2 self-start font-medium text-red-300;
}
